# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Models and artifacts
models/*.joblib
models/*.pkl
models/*.json

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

